html {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  line-height: 1.5rem;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
  background-color: orange;
}

h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  padding-top: 4.75rem;
}

section {
  background-image: linear-gradient(to bottom, #ff9500 #ff5e3a);
}

h2 {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

h3 {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 1.5rem;
  padding: 1rem;
  gap: 6vmin;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
}

a:hover,
a:focus {
  color: #fff;
}

.icon {
  color: #fff;
  padding-top: 3rem;
}

.icon svg {
  fill: currentColor;
}

#gradient {
  background-color: #ff9500;
  background-image: linear-gradient(#ff9500 #ff5e3a);
}

@media only screen and (min-width 38em) {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}
